executor {
  name = "lsf"
  queueSize = 25 // no more than 25 HPC jobs running at a time
}

singularity {
  enabled = true
  autoMounts = true
  pullTimeout = "30 min"  // Allow for using large images

  // Uncomment below to use a custom cache and library directory for singularity (useful for managing disk usage)
  // cacheDir = "/work/tansey/..."
  // libraryDir = "/work/tansey/..."
}